VITE_SUPABASE_URL=https://jijleaqezlhepkslsoic.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_2R2MDExXdIT7Pxn6RkDlqQ_EUAMAmgJ
VITE_API_BASE_URL=VITE_API_BASE_URL=http://127.0.0.1:8010/api
VITE_BYPASS_AUTH=true
