GOOGLE_API_KEY=AIzaSyAe4kjCF4C8-2_QTtuAkR4FrfrrjCIqqtA
SUPABASE_URL=https://jijleaqezlhepkslsoic.supabase.co
SUPABASE_ANON_KEY=sb_publishable_2R2MDExXdIT7Pxn6RkDlqQ_EUAMAmgJ
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImppamxlYXFlemxoZXBrc2xzb2ljIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTIwNjM4MiwiZXhwIjoyMDk0NzgyMzgyfQ.76vnCIiF5ess54ROphDc0GKRr5dcG_cpxYHJ6lYmhtI
SUPABASE_JWT_SECRET=your-supabase-jwt-secret
